/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap'); */
@import "tailwindcss";
:root {
  --background: #f3f2ed;
}

@theme inline {
  --color-background: #f3f2ed;
  --color-primary: #e8e5de;
  --font-cairo: "Cairo"
}


body {
  background: var(--background);
}
*{
  @apply p-0 m-0 box-border !font-["Tajawal"]
}

.container{
  @apply w-[80%] lg:w-[85%] md:w-[90%] max-md:w-[95%] flex mx-auto
}

.Down{  animation: down 1s linear 0s infinite normal forwards;

}
@keyframes down {
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(0);

  }
  100%{
    transform: translateY(-10px);

  }
}